
@font-face {
    font-family: 'Aquarelle';
    src: url('fonts/Aquarelle.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat Alternates';
    src: url('fonts/MontserratAlternates-Italic.ttf')
}

/* Основные стили для анимации */
.fade-in {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.fade-in.visible {
    opacity: 1;
    transform: translateY(0);
}

header {
    display: flex;
    justify-content: space-between; /* Распределяем элементы по краям */
    align-items: center; /* Центрируем элементы по вертикали */
    color: #ffffff; /* Цвет текста */
    padding: 20px 0; /* Отступы сверху и снизу */
}

/* Навигация */

.navbar {
    width: 100%; /* Убедитесь, что навигация занимает всю ширину */
    padding: 0; /* Убираем отступы, если они не нужны */
}

.navbar-brand {
    color: #ffffff !important;
    font-family: 'Aquarelle', Arial, sans-serif;
    font-size: 36px; /* Размер шрифта логотипа */
}

nav {
    margin-left: auto; /* Сдвигаем навигацию вправо */
    font-family: 'Montserrat Alternates', Arial, sans-serif;
}

nav ul {
    display: flex; /* Выстраиваем элементы списка в строку */
    list-style: none; /* Убираем маркеры списка */
    padding: 0; /* Убираем отступы */
    margin: 0; /* Убираем отступы */
}

nav li {
    margin-left: 40px; /* Отступ между элементами списка */
}

nav a {
    color: #ffffff; /* Цвет ссылок */
    text-decoration: none; /* Убираем подчеркивание */
    font-size: 18px; /* Размер шрифта ссылок */
    transition: color 0.3s; /* Плавный переход цвета */
}

nav a:hover {
    color: #7DADC3; /* Цвет при наведении */
}

@media (max-width: 800px) {
    .navbar-brand {
        font-size: 20px;
        line-height: 32px;
    }

    .navbar-toggler {
        border: 0;
    }

    .navbar-toggler-icon{
        background-image: url('image/hamburger.svg');
    }

    nav a {
        font-size: 10px;
    }

    nav ul {
        flex-direction: column; /* Вертикальное расположение элементов списка на мобильных устройствах */
        margin-top: 10px; /* Отступ сверху для списка */
    }

    nav li {
        margin-left: 0; /* Убираем отступ между элементами списка на мобильных устройствах */
        margin-bottom: 10px; /* Отступ между элементами списка */
    }
}

body {
    position: absolute;
    height: 100%;
    width: 100%;
    padding-top: 0;
    background-color: #131313;
}

h1{
    font-family: 'Aquarelle', Arial, sans-serif;
    font-size: 300px;
    color: #ffffff
}

.name-container {
    position: relative; /* Позволяет позиционировать дочерние элементы относительно этого контейнера */
    display: flex; /* Используем flexbox для центрирования */
    justify-content: center; /* Центрируем по горизонтали */
    align-items: center; /* Центрируем по вертикали */
    margin: 20px 0; /* Отступы сверху и снизу */
}

.inizial {
    width: 80vw; /* Ширина изображения */
    height: auto; /* Автоматическая высота */
}

.imena {
    position: absolute; /* Абсолютное позиционирование для текста */
    color: #ffffff; /* Цвет текста */
    font-family: 'Aquarelle', Arial, sans-serif; /* Шрифт текста */
    font-size: 96px; /* Размер шрифта */
    text-align: center; /* Центрируем текст */
    z-index: 1; /* Убедитесь, что текст выше изображения */
    top: 40%; /* Сдвигаем текст вниз на 50% от высоты контейнера */
    left: 50%; /* Сдвигаем текст вправо на 50% от ширины контейнера */
    transform: translate(-50%, -50%); /* Сдвигаем текст обратно на 50% по ширине и высоте */
    white-space: nowrap; /* Запрещаем перенос текста */
}

.zagolovok {
    width: 100%;
    align-items: center;
    top: 200%;
    margin-left: 0; /* Убираем отступ слева */
    margin-top: 150px;
    font-family: 'Aquarelle', Arial, sans-serif;
    font-size: 96px;
    color: #ffffff;
    text-align: center; /* Центрируем текст */
}

@media (max-width: 800px) {
    .imena, .zagolovok {
        font-size:32px;
        margin-top: 80px;
    }
}

.container_prigl {
    display: flex; /* Используем Flexbox */
    justify-content: center; /* Центрируем по горизонтали */
    align-items: center; /* Центрируем по вертикали */
}

.priglash {
    width: 50vw; /* Ширина 50% от ширины окна */
    height: auto; /* Автоматическая высота */
    z-index: 1; /* Устанавливаем положительный z-index, чтобы элемент был видимым */
}

.program {
    margin-top: 1000px;
}

@media (max-width: 800px) {
    .priglash{
        width: 60vw;
    }
    .program{
        margin-top: 350px;
    }
}

.phon{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

.phon_2{
    position: absolute;
    width: 100%;
    top: 110vw;
    left: 0;
    z-index: -1;
}

.phon_3{
    position: absolute;
    width: 100%;
    top: 140vw;
    left: 0;
    z-index: -1;
}

.q1{
    position: absolute;
    left: 0;
    top: 80vw;
    z-index: -1;
}

.q2{
    position: absolute;
    top: 40vw;
    right: 0;
    z-index: -1;
}

.q3{
    position: absolute;
    width: 100%;
    top: 20vw;
    left: 0;
    z-index: 1;
}

@media (max-width: 800px) {
    .phon_2{
        top: 160vw;
    }
    .phon_3{
        top: 200vw
    }
    
    .q1{
        width: 200px;
        top: 100vw;
    }
    .q2{
        width: 250px;
    }
    .q3{
        top: 40vw;
    }
}

* {
    box-sizing: border-box;
}

.countdown {
    width: 100%;
    justify-content: center;
    display: flex;
    text-align: center;
    font-size: 2em;
    padding: 20px;
}

.time-box {
    display: flex; /* Изменено на flex */
    flex-direction: column; /* Устанавливаем направление по вертикали */
    justify-content: center; /* Центрируем по вертикали */
    align-items: center; /* Центрируем по горизонтали */
    background: #ffffff;
    width: 100px;
    height: 150px;
    padding: 10px 10px;
    margin: 10px 20px; /* Уменьшаем горизонтальный отступ */
    border-radius: 10px;
    border: 2px solid #ccc;
    line-height: 130px; /* Убираем, так как теперь используем flex */
}

.otscet {
    font-family: 'Montserrat Alternates', Arial, sans-serif;
    padding: 5px 0; /* Уменьшаем вертикальный отступ */
    margin: 0; /* Убираем горизонтальные отступы */
    font-size: 4vh;
    color: #ffffff;
}

@media (max-width: 800px) {
    .countdown {
        width: 100%;
        justify-content: center;
        display: flex;
        text-align: center;
        font-size: 1em;
        padding: 10px;
    }
    .time-box {
        width: 55px;
        height: 75px;
        padding: 5px 5px;
        margin: 5px 10px; /* Уменьшаем горизонтальный отступ */
        border-radius: 5px;
    }
    .otscet {
        padding: 2px 0; 
        font-size: 2vh;
    }
}

.location{
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 20px;
    margin-top: 30px;
}

.text{
    font-family: 'Montserrat Alternates', Arial, sans-serif;
    font-size: 4vh;
    color: #ffffff;
    text-align: left;
}

.maps{
    width: 600px;
    height: 450px;
    border: 0;
}

.roza{
    width: 400px;
    height: 400px;

}

@media (max-width: 800px) {
    .text {
        font-size: 2vh;
    }
    .maps{
        width: 230px;
        height: 155px;
    }   
    .roza{
        width: 150px;
        height: 150px;
    } 
}


.flower{
    position: absolute;
    top: 250vw;
    width: 100%;
    left: 0;
}

.flowers{
    position: absolute;
    top: 280vw;
    width: 100%;
    left: 0;
    z-index: -1;
}

.flowerss{
    position: absolute;
    top: 320vw;
    width: 970px;
    right: 0;
    z-index: -1;
}

.flowersss{
    position: absolute;
    top: 405vw;
    width: 770px;
    right: 0;
    z-index: -1;
}

.flowerssss{
    position: absolute;
    top: -10vw;
    right: 60vw;
    width: 445px;
    height: 445px;
    transform: scaleX(-1);
    z-index: 1;
}

@media (max-width: 800px) {
    .flower{
        top: 430vw;
    }
    .flowers {
        top: 440vw;
    }
    .flowerss {
        top: 480vw;
        width: 400px;
    }  
    .flowersss {
        top: 600vw;
        width: 300px;
    }  
    .flowerssss {
        width: 170px;
        height: 170px;
        top: -12vw;
        right: 58vw;
    }  

}

.form {
    width: 100%;
    height: auto; /* Устанавливаем высоту контейнера в 100% */
    background-color: #ffffff;
    position: relative; /* Позволяет позиционировать дочерние элементы относительно этого контейнера */
    display: flex; /* Используем flexbox */
    flex-direction: column; /* Располагаем элементы в колонку */
    justify-content: center; /* Центрируем по вертикали */
    align-items: center; /* Центрируем по горизонтали */
    margin: 100px 0; /* Отступы сверху и снизу */
    padding: 80px; /* Добавляем внутренние отступы для контейнера */
}

.button {
    background-color: #7DADC3; /* Цвет фона кнопки */
    color: #131313; /* Цвет текста */
    padding: 10px 20px; /* Отступы внутри кнопки */
    border: none; /* Убираем рамку */
    border-radius: 40px; /* Закругленные углы */
    font-family: 'Montserrat Alternates', Arial, sans-serif;
    font-size: 4vh;
    cursor: pointer; /* Указатель при наведении */
    transition: background-color 0.3s; /* Плавный переход цвета */
    margin-top: 20px; /* Отступ сверху для кнопки */
}

.button:hover {
    background-color: #0056b3; /* Цвет фона при наведении */
}

@media (max-width: 800px) {
    .form {
        padding:20px;
    }
    .button {
        font-size: 2vh;
        cursor: pointer; /* Указатель при наведении */
        transition: background-color 0.3s; /* Плавный переход цвета */
        margin-top: 10px; /* Отступ сверху для кнопки */
    } 
}

footer {
    position: relative;
    height: 460px;
    width: auto;
    display: flex; /* Используем Flexbox для расположения элементов */
    justify-content: space-between; /* Распределяем элементы по краям */
    align-items: center; /* Центрируем элементы по вертикали */
    border-top: 2px solid #ffffff; /* Верхняя граница */
    border-left: 2px solid #ffffff;
    border-right: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff; /* Нижняя граница */
    margin-left: 210px; 
    margin-right: 210px;
}

.left {
    position: absolute;
    top: 20px;
    left: 20px;
    text-align: left; /* Текст слева */
}

.right {
    position: absolute;
    bottom: 20px;
    right: 20px;
    text-align: left; /* Текст справа */
}

@media (max-width: 800px) {
    footer{
        height: 200px;
        margin-left: 50px; 
        margin-right: 50px;
    } 
}